* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0%;
}

span {
    color: #E84827;
}

li {
    display: inline-block;
    padding: 0%;
    font-size: medium;
}

hr {
    margin: 0px;
    /* border: none; */
    height: 2.7px;
}

.navbar{
    background-color:#35424A;
    /* margin: -2.9% -1.1%; */
    margin-top: -0.9%;
    margin-left: -1.2%;
    /* margin-right: 0; */
    margin-bottom: 0%;
    color: #fff;
    padding-top: 25px;
}

/* .navbar-content {
    width: 80em;
} */

.navbar-content h1{
    font-weight: 600;
    font-size: 1.8em;
    color: #fff;
    display: inline-block;
    position: relative;
    left: 10%;
    line-height: 1.5;
    letter-spacing: 0.9px;
    padding-bottom: 0.1em;
    /* padding-top: 0.4%;
    padding-left: 8%;
    margin-top: 1.9%; */
}

.navbar li a{  
    color: #fff;
    text-decoration: none;
    padding: 0%;
    margin: auto 1em;
    font-style: normal;
    font-weight:500;
    /* font-size: 1.2em; */
}

.navbar-items{
    /* padding: 10; */
    list-style-type: none;
    display: inline-block;
    /* text-align: center; */
    margin: 1em auto 1em 50%;
    /* padding: 0px; */
    font-size: 120%;
    font-weight:normal;
    padding-bottom: 0.9em;
}

.white {
    color: #fff;
}

.section {
    background-image: url("/images/laptop.jpg");
    background-size: cover;
    width: fit-content;
    height: 25em;
    opacity: 0.8;
    margin-top: -41.9px;
    /* bec of inline block */
}

.section h1{
    font-size: 3.9em;
    justify-content: center;
    text-align: center;
    padding-top: 6%;
}

.section p {
    text-align: center;
    /* padding-top: 4em; */
    margin: 30px 9.6em;
    font-size: 1.3em;
    font-weight: 400;
}

/* Newsletter */
.newsletter {
    background-color: #35424A;
    padding: 2em 1.9em;
}

#label {
    font-weight: 500;
    padding: 1em 19em 0em 5.2em;
    font-size: x-large;
}

#input {
    margin-left: 16.6em;
    height: 2.2em;
    width: 19em;
}

.newsletter button {
    background-color:#E84827;
    border: none;
    height: 2.8em;
    width: 100px;
}

.services {
    /* margin: 1em 4em 2em 4em; */
    /* margin-left: 0em;
    margin-right: 0em; */
    /* height: 0em;' */
    /* margin-bottom: 2em; */
}


.lang {
    /* margin: auto 10em 10em 10em; */
    /* margin-left: 1em;
    margin-right: 1em; */
    margin: 1em auto 1em auto;
}

figure {
    display: inline-block;
    height: 10em;
    width: 27%;
    /* margin: 2em 1% auto 1%; */
    
    /* padding-left: auto;
    padding-right: auto;
    margin-right: 2.6em;
    margin-left: 2.6em;
    justify-content: center;
    text-align: center; */
}

figure img{
    height: 5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

figure figcaption {
    margin: 1em;
    font-size: larger;
    justify-content: center;
    text-align: center;
}

figure article {
    /* display: inline-block; */
    /* margin: auto 25% auto 25%; */

    text-align: center;
}

.main-footer {
    position: absolute;
    /* width: auto; */
    /* height: 100px; */
    background-color: #E84827;
    bottom: -11.5em;
    width: 100%;
    height: 5.7rem; 
}

.main-footer p {
    text-align: center;
    position: relative;
    top: 1.15em;
    font-size:medium;
}

/* About Section */

.about {
    /* white-space: nowrap; */
    margin: 0;
    height: 0;
    font-size: 0.93em;
}

.about h1 {
    font-size: large;
}

.main-article {
    display: inline-block;
    width: 50em;
    /* margin: 0em; */
    margin-left: 3.6em;
    padding: 0em;
    position: relative;
    left: 6em;
}

.main-article h1 {
    font-weight: 600;
}

.side-article {
    display: inline-block;
    background-color: #35424A;
    margin-bottom: 10em;
    width: 20em;
    padding: 1em 1em 1.9em 1em;
    position: relative;
    left: 11%;
    bottom: 6em;
}

.side-article 

section {
    /* width: 5em; */
    /* display: inline-block; */
    margin: 0;
    padding: 0;
}

.main-article section article:nth-child(3){
    background-color: #35424A;
    margin-top: 1em;
    padding: 1em;
    position: relative;
}

.about-footer {
    position: absolute;
    /* width: auto; */
    /* height: 100px; */
    background-color: #E84827;
    /* bottom: -16.5em; */
    top: 33.5em;
    width: 100%;
    height: 5.7rem;
}

.about-footer p {
    text-align: center;
    position: relative;
    top: 1.15em;
    font-size:medium;
}

/* Services Section  */

.services-desc{
    background-color: #f4f4f4;
    padding-bottom: 1.2em;
}

.services-desc h1 {
    font-size: large;
    margin-top: 0;
    margin-left: 8.3em;
    padding-top: 0.9em;
    padding-bottom: 0.1em;
}

.cards {
    padding-top: 0.1em;
    /* margin: 1em; */
    display: inline-block;
}

.each-card {
    margin-bottom: 2em ;
    margin-left: 1em;
    padding: 0;
}

.services-desc card .container {
    background-color: #E8E8E8;
    height: 11.5em;
    width: 53em;
    border: 1px solid rgb(202, 201, 201);
    margin: auto 8.3em auto 8.3em;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: -27px;
}

.form {
    display: inline-block;
}

.form .container{
    background-color: #35424A;
    width: 25.2em;
    height: 18.7em;
    position: relative;
    bottom: 20.4em;
    right: 4.9em;
    padding-bottom: 0;
}

.form .container label {
    font-size: 0.9em;
}

.form .container input,textarea {
    margin: .9px auto;
}

.form-content {
    padding: 1em;
}

.form-content h3{
    /* padding: 1em; */
}

.btn {
    background-color: #E84827;
    border: 0px;
    width: 5.1em;
    height: 3em;
}

/* Hover elements */

.navbar li a:hover {
    color: rgb(139, 141, 143);
    font-style: bold;
}

.navbar-items span:hover {
    color: rgb(139, 141, 143);
}

